[submodule "MQTT"]
	path = components/MQTT
	url = git@github.com:DoneTech-IoT/MQTT.git
[submodule "Utilities"]
	path = components/Utilities
	url = git@github.com:DoneTech-IoT/Utilities.git
[submodule "components/MQTT"]
	path = components/MQTT
	url = git@github.com:DoneTech-IoT/MQTTS.git
